<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/dist/minified.css' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Geo:400,400italic|EB+Garamond'>
    <style>
      body { margin: 0; }
      canvas { width: 100%; height: 100% }
    </style>
    <title>Duelr</title>
  </head>

  <body>
    {% if mobile %}
    <form class="code-input-form">
      <div class="form-group">
        <p>Enter the code you see on your computer.</p>
        <input class="form-control" id="code-input" type="text" autofocus autocomplete="off" autocapitalize="off">
      </div>
      <div class="form-group">
        <button id="calibrate-button" class="btn btn-primary form-control">Calibrate</button>
      </div>
    </form>
    {% else %}
    <div style="display: hidden" id="welcome-interface">
      <div id="particles-js"></div>
      <div class="opening">
        <div class="img">
          <img src="/static/assets/icon.jpg">
        </div>
        <div class="title">
          Duelr
        </div>
        <div class="paragraph">
        <p>In order to play, go to duelr.com on your mobile smartphone and enter the code below:</p>
        </div>
        <div class="code" id="code">
          abcd
        </div>
      </div>
    </div>
    {% endif %}
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/particles.js/particles.min.js"></script>
    <script src="bower_components/three.js/build/three.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
    <script src='/shared/Util.js'></script>
    <script src="/shared/Constants.js"></script>
    {% if mobile %}
    <script src='/static/js/mobile.js'></script>
    {% else %}
    <script src='/static/js/computer.js'></script>
    {% endif %}
  </body>
</html>