<!--
Homepage and testing braindump for 3D game.
Author: Alvin Lin (alvin.lin.dev@gmail.com)
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet'
          href='/static/dist/minified.css' />

    <script src='/socket.io/socket.io.js'>
    </script>
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
    <script src='/shared/Util.js'></script>
    <script src='/shared/Constants.js'></script>

    {% if mobile %}
    <script src='/static/js/mobile.js'></script>
    {% else %}
    <script src='/static/js/computer.js'></script>
    <script>
      var socket = io();
      socket.emit("new-device", {
        deviceType: Constants.COMPUTER
      });
      socket.on('new-device-response', function(data) {
        console.log(data);
      });
    </script>
    {% endif %}

  </head>
  <body>
    <div class='container'>
      <table>
        <tr>
          <td>
            <div id='game-container'>
              <div id='game-pause-screen'>
                <h1>
                  Paused
                </h1>
                <button id='game-resume'>
                  Resume
                </button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
